label.error{
  color: red;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  border-radius: 7% !important;
  padding: 0.5em 0.7em !important;
  background-color: #d9d9a9 !important;
  margin: 2px !important;
  cursor: pointer !important;
  text-decoration: none !important;
  color: black !important ;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
  background-color: #a88d78 !important;
}
#example1_wrapper{
  overflow-x: clip !important;
}